<% content_for :title, "Resend security code" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: 'javascript:history.back()',
  ) %>
<% end %>

<%= form_with(url: send("resend_code_#{resource_name}_two_factor_authentication_path"), html: { method: :get }) do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <%= content_for(:title) %>
      </h1>

      <p class="govuk-body">Emails sometimes take a few minutes to arrive. If you do not receive the email, you can request a new one.</p>

      <%= f.govuk_submit "Resend security code" %>
    </div>
  </div>
<% end %>
