<div class="govuk-summary-card govuk-!-margin-bottom-6 govuk-!-width-three-quarters">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title govuk-!-font-weight-regular"><%= title %></h3>
  </div>
  <div class="govuk-summary-card__content">
    <%= render partial: "merge_requests/details_list", locals: { details: details } %>
  </div>
</div>
