<% content_for :title, "Your invitation link has expired" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= content_for(:title) %>
    </h1>

    <p class="govuk-body">Contact the helpdesk to request a new one.</p>
  </div>
</div>
