<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"> Check your email</h1>
    <p class="govuk-body">We’ve sent a link to reset your password to <strong><%= @user.email %></strong>.</p>
    <p class="govuk-body">You’ll only this receive this link if your email address already exists in our system.</p>
    <p class="govuk-body">If you don’t receive the email within 5 minutes, check your spam or junk folders. Try again if you still haven’t received the email.</p>
  </div>
</div>