# Ignore everything except as negated below
*

!*.scss
!*.md
!*.yml
!*.json

# Ensures subdirectories are checked for files matching the above
!*/

config/locales/
app/views/content/data_sharing_agreement.md

# N.B. Anything specified in the .gitignore will also be ignored as long as prettier as run from this directory
