<div class="x-govuk-summary-card govuk-!-margin-bottom-6">
  <div class="x-govuk-summary-card__body">
    <%= govuk_summary_list do |summary_list| %>
      <% log.duplicate_check_questions(current_user).each do |question| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key { duplicate_log_question_label(question, log) } %>

          <% row.with_value do %>
            <%= simple_format(
              duplicate_log_answer_label(question, log),
              wrapper_tag: "span",
              class: "govuk-!-margin-right-4",
            ) %>

            <% if duplicate_log_extra_value(question, log) && duplicate_log_answer_label_present(question, log, current_user) %>
              <%= simple_format(
                duplicate_log_extra_value(question, log),
                wrapper_tag: "span",
                class: "govuk-!-font-weight-regular app-!-colour-muted",
              ) %>
            <% end %>

            <% duplicate_log_inferred_answers(question, log).each do |inferred_answer| %>
              <span class="govuk-!-font-weight-regular app-!-colour-muted"><%= inferred_answer %></span>
            <% end %>
          <% end %>
          <% if @all_duplicates.many? %>
            <% row.with_action(
                text: question.action_text(log),
                href: change_duplicate_logs_action_href(log, question.page.id, @all_duplicates, @original_log.id),
                visually_hidden_text: question.check_answer_label.to_s.downcase,
              ) %>
          <% else %>
            <% row.with_action(
              text: question.action_text(log),
              href: duplicate_logs_action_href(log, question.page.id, @original_log.id),
              visually_hidden_text: question.check_answer_label.to_s.downcase,
            ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
