<p class="govuk-body">
  <%= intro %>
</p>

<% sorted_errors.each do |error| %>
  <%= govuk_table do |table| %>
    <% table.head do |head| %>
      <% head.row do |row| %>
        <% row.cell(text: question_for_field(error[0][1].to_sym), header: true) %>
        <% row.cell(text: "Column #{error[0][0]}", header: true, numeric: true) %>
      <% end %>

      <% table.body do |body| %>
        <% body.row do |row| %>
          <% row.cell(text: error[0][2]) %>
          <% row.cell(text: pluralize(error[1], "error"), numeric: true) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
