<ul class="app-document-list">
  <% items.each do |item| %>
    <li class="app-document-list__item">
      <h3 class="app-document-list__item-title">
        <%= govuk_link_to item[:name], item[:href] %>
      </h3>
      <% if item[:description] %>
        <p class="app-document-list__item-description"><%= item[:description] %></p>
      <% end %>
      <% if item[:metadata] %>
        <p class="app-document-list__item-metadata"><%= item[:metadata] %></p>
      <% end %>
    </li>
  <% end %>
</ul>
