<%= form_with model: @user, url: path(current_user), method: "get", local: true do |f| %>
  <div class="app-search govuk-!-margin-bottom-4">
    <div class="govuk-form-group app-search__form-group">
      <%= f.govuk_text_field :search,
        label: { text: search_label },
        type: "search",
        value:,
        autocomplete: "off",
        class: "app-search__input" %>
    </div>

    <button class="govuk-button app-search__button undefined" data-module="govuk-button">
      Search
    </button>

  </div>
<% end %>
