<% answers = question.answer_options.map { |key, value| OpenStruct.new(id: key, name: value) } %>
<%= f.govuk_select(question.id.to_sym,
                   "data-controller": "accessible-autocomplete",) do %>
  <% answers.each do |answer| %>
    <option value="<%= answer.id %>">
      <%= answer.name %>
    </option>
  <% end %>
<% end %>
