<% content_for :title, "Check your answers before creating this scheme" %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: :back,
  ) %>
<% end %>

<div class=class="govuk-tabs">  
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item"><li>
  </ul>
</div>
