@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$govuk-global-styles: true;

@import "~govuk-frontend/govuk/all";

@import "accessible-autocomplete";
@import "input";
@import "related-navigation";
@import "section-skip-link";
@import "task-list";
@import "tab-navigation";

// Overrides
.app-\!-colour-muted {
  color: $govuk-secondary-text-colour !important;
}
