@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

@import 'related-navigation';
@import 'task-list';
@import 'tab-navigation';
@import 'accessible-autocomplete';

$govuk-global-styles: true;

// turbo-frame {
//   display: block;
//   border: 1px solid blue
// }

//overrides
.app-\!-colour-muted {
  color: $govuk-secondary-text-colour !important;
}
