@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$govuk-global-styles: true;

@import "~govuk-frontend/govuk/all";

@import "accessible-autocomplete";
@import "button";
@import "figure";
@import "input";
@import "related-navigation";
@import "section-skip-link";
@import "tab-navigation";
@import "table-group";
@import "task-list";
@import "template";
@import "panel";

// App utilities
.app-\!-colour-muted {
  color: $govuk-secondary-text-colour !important;
}

.app-\!-font-tabular {
  @include govuk-font($size: false, $tabular: true);
}

// Overrides
.govuk-button-group {
  align-items: center;
}

.govuk-tag {
  white-space: nowrap;
}
