<ol class="app-task-list app-task-list--no-numbers">
  <% Form::SECTIONS.map do |section, subsections| %>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">
          <%= section.gsub('_', ' ').capitalize %>
        </span>
      </h2>
      <ul class="app-task-list__items">
        <% subsections.map do |subsection| %>
          <li class="app-task-list__item">
            <% first_question = Form.first_question_for_subsection(subsection) %>
            <%= link_to subsection.gsub('_', ' ').capitalize, send("case_log_#{first_question}_path", @case_log), class: "task-name" %>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">
              Not started
            </strong>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
