<div class="govuk-form-group">
  <%= form_with url: "/case_logs/bulk_upload", method: "post", builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <%= f.govuk_file_field :case_log_bulk_upload,
        label: { text: "Bulk Upload", size: "l" },
        hint: { text: "Upload a spreadsheet using the template" }
    %>
    <%= f.govuk_submit "Upload"  %>
  <% end %>
</div>
