<% content_for :title, "Logs" %>

<h1 class="govuk-heading-l">
  <%= content_for(:title) %>
</h1>

<div class="govuk-button-group">
  <%= govuk_button_to "Create a new lettings log", case_logs_path %>
  <%#= govuk_link_to "Upload logs", bulk_upload_case_logs_path %>
</div>

<% if @case_logs.present? %>
  <%= render partial: "log_list", locals: { case_logs: @case_logs, title: "Logs", pagy: @pagy } %>
  <%== render partial: 'pagy/nav', locals: { pagy: @pagy } %>
<% end %>
