<%= govuk_details(summary_text: "Can’t find the mortgage lender you’re looking for?") do %>
  <ul class="govuk-list govuk-list--bullet">
    <li>Double check the spelling and try again</li>
    <li>Type the first few letters to see the suggestions</li>
    <li>Type Other and continue - we’ll ask you to type in your answer in the next question</li>
  </ul>
<% end %>
