<%= govuk_details(summary_text: "Outright sale type definitions") do %>
  <p class="govuk-body">
    <b>Outright sale:</b> the full purchase of a property, usually with a mortgage or cash.
  </p>
  <p class="govuk-body">
    <b>Other sale:</b> any sale which does not fit the criteria of any of the remaining options.
  </p>
<% end %>
