<%= govuk_details(summary_text: "Rent type definitions") do %>
  <p class="govuk-body">
    <b>Social Rent:</b> where target rents are determined through the national rent regime. This is sometimes also known as 'formula rent'.
  </p>
  <p class="govuk-body">
    <b>Affordable Rent:</b> where up to 80% of market rent can be charged. A new supply agreement is signed with Homes England or the Greater London Authority (GLA).
  </p>
  <p class="govuk-body">
    <b>London Affordable Rent:</b> a tenure of affordable housing available in London by the GLA. It is an affordable rent which must be set in accordance with the Regulator of Social Housing’s Affordable Rent guidance. The landlord of these homes must be registered with the Regulator of Social Housing. These are a type of Affordable Rent lettings.
  </p>
  <p class="govuk-body">
    <b>Rent to Buy: </b> a discount of up to 20% market rent is charged for a single rental period for a minimum of 5 years. After that period, the tenant is offered first chance to purchase the property (either shared ownership or outright) at full market value. These are a type of Intermediate Rent lettings.
  </p>
  <p class="govuk-body">
    <b>London Living Rent:</b> a tenure of affordable housing available in London by the GLA. It was introduced in Affordable Homes Programme 2016 to 2021. These are a type of Intermediate Rent lettings.
  </p>

  <p class="govuk-body">
    <b>Other intermediate rent:</b> any other specific scheme where up to 80% of market rent can be charged. This includes schemes with reduced rent so tenants can save towards a house purchasing deposit and schemes with an in-built future opportunity to buy the property being rented.
  </p>
<% end %>
