<% if current_user.data_provider? %>
  <p class="govuk-body">If you’re not sure which scheme to choose, ask a data coordinator. Find your data coordinators on the <%= govuk_link_to("users page", users_path) %>.</p>
<% elsif current_user.data_coordinator? %>
  <p class="govuk-body"><%= govuk_link_to "Create a new supported housing scheme", new_scheme_path %></p>
<% end %>
