<%= govuk_details(summary_text: "Shared ownership type definitions") do %>
  <p class="govuk-body">
    <b>Shared ownership:</b> Cannot be used for homes funded through the Affordable Homes Programme 2021 to 2026. Use the 2021 model lease for these properties.
  </p>
  <p class="govuk-body">
    <b>Shared ownership 2021 model lease:</b> Homes bought using the  Affordable Homes Programme 2021 to 2026.
  </p>
  <p class="govuk-body">
    <b>Older Persons Shared Ownership:</b> A type of shared ownership for those 55 years and over.
  </p>
  <p class="govuk-body">
    <b>Social HomeBuy shared ownership purchase:</b> Tenants of private registered providers purchase their home at discount on Shared Ownership terms.
  </p>
  <p class="govuk-body">
  <b>Home Ownership for people with Long-Term Disabilities (HOLD):</b> A shared ownership sale for those with long term disabilities.
  </p>
  <p class="govuk-body">
    <b>Rent to Buy shared ownership:</b> A sale following a period of discounted rent.
  </p>
  <p class="govuk-body">
    <b>Right to Shared Ownership:</b> A sale of a share of a rented home to a tenant using this scheme.
  </p>
  <p class="govuk-body">
    <b>London Living Rent shared ownership:</b> A shared ownership sale following a period of discounted rent as part of the London Living Rent scheme.
  </p>
<% end %>
