<%= govuk_details(summary_text: "What is a void date?") do %>
  <p class="govuk-body">Date the property was (legally or contractually) available to let, or for:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>re-lets: the day after the previous tenant's contract ended</li>
    <li>new builds: the day the landlord legally first owned the property ('completion date')</li>
    <li>new conversions or acquisitions: completion date, or the day after rehabilitation work ended</li>
    <li>new leases: the day the landlord got contractual property rights and could let it out to tenants</li>
  </ul>
<% end %>
