<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What counts as income?
    </span>
  </summary>
  <div class="govuk-details__text">

  <p class="govuk-body">You should include any income from:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>employment</li>
    <li>pensions</li>
    <li>Universal Credit</li>
  </ul>

  <p class="govuk-body">Don’t include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>National Insurance (NI) contributions and tax</li>
    <li>housing benefit</li>
    <li>child benefit</li>
    <li>council tax support</li>
  </ul>

  </div>
</details>
