<% content_for :before_content do %>
  <%= govuk_back_link(
    text: 'Back',
    href: :back,
  ) %>
<% end %>

<h1 class="govuk-heading-l">
  Your Organisation
</h1>

<%= govuk_summary_list do |summary_list| %>
  <% @organisation.display_attributes.each do |attr, val| %>
    <%= summary_list.row do |row|
      row.key { attr.to_s.humanize }
      row.value { simple_format(val, {}, wrapper_tag: "div") }
    end %>
  <% end %>
<% end %>
