<div class="app-unread-notification">
  <div class="govuk-width-container">
    <br>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <% if current_user.active_unread_notifications.count > 1 %>
          <p>Notification 1 of <%= current_user.active_unread_notifications.count %></p>
        <% end %>
      <p class="govuk-!-font-weight-bold"><%= current_user.oldest_active_unread_notification.title %></p>
        <% if current_user.oldest_active_unread_notification.page_content.present? %>
          <div class ="govuk-body">
            <%= govuk_link_to current_user.oldest_active_unread_notification.link_text, notifications_path, class: "govuk-link--inverse govuk-!-font-weight-bold"%>
          </div>
        <% end %>
      </div>
      <p class="govuk-grid-column-one-quarter govuk-!-text-align-right ">
        <%= govuk_link_to "Dismiss", dismiss_notifications_path, class: "govuk-link--inverse"%>
      </p>
    </div>
  </div>
</div>
