.rails-admin-sidescroll {
  overflow-x: scroll;
}

.rails-admin-description_field {
  min-width: 500px;
}

.rails-admin-case_field {
  min-width: 500px;
}

.rails-admin-error_message_field {
  min-width: 500px;
}
