.app-data-box__upper {
  @include govuk-responsive-margin(2, "bottom");

  background-color: govuk-colour("light-grey");
  color: govuk-colour("blue");
}

.app-data-box__lower {
  @include govuk-responsive-margin(4, "bottom");

  background-color: govuk-colour("blue");
}

.app-data-box {
  @include govuk-responsive-padding(4);
  font-weight: bold;
  white-space: nowrap;
}

.app-data-box__count {
  font-size: 48px;
  color: govuk-colour("blue");
}
