@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// Add additional breakpoint named `wide`
$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 769px,
  wide: 921px,
);

@import "govuk-frontend-styles";
@import "govuk-prototype-styles";

@import "accessible-autocomplete";
@import "button";
@import "card";
@import "document-list";
@import "filter";
@import "filter-layout";
@import "header";
@import "input";
@import "related-navigation";
@import "section-skip-link";
@import "table-group";
@import "tag";
@import "task-list";
@import "template";
@import "panel";
@import "primary-navigation";
@import "search";
@import "sub-navigation";

// App utilities
.app-\!-colour-muted {
  // stylelint-disable declaration-no-important
  color: $govuk-secondary-text-colour !important;
}

.app-\!-font-tabular {
  @include govuk-font($size: false, $tabular: true);
}

// Overrides
.govuk-button-group {
  align-items: center;
}

.govuk-tag {
  white-space: nowrap;
}

.button_to {
  @include govuk-media-query($until: tablet) {
    width: 100%;
  }
}
