<%= govuk_summary_list do |summary_list| %>
  <% total_applicable_questions(subsection, @case_log, current_user).each do |question| %>
    <% summary_list.row do |row| %>
      <% row.key { question.check_answer_label.to_s.presence || question.header.to_s } %>
      <% row.value do %>
        <span class="govuk-!-margin-right-4"><%= get_answer_label(question, @case_log) %></span>
        <% extra_value = question.get_extra_check_answer_value(@case_log) %>
        <% if extra_value %>
          <span class="govuk-!-font-weight-regular app-!-colour-muted"><%= extra_value %></span>
        <% end %>
        <br>
        <% question.get_inferred_answers(@case_log).each do |inferred_answer| %>
          <span class="govuk-!-font-weight-regular app-!-colour-muted"><%= inferred_answer %></span>
        <% end %>
      <% end %>
      <% row.action(
        text: question.action_text(@case_log),
        href: question.action_href(@case_log, question.page.id),
        visually_hidden_text: question.check_answer_label.to_s.downcase,
      ) %>
    <% end %>
  <% end %>
<% end %>
