<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/logs">Logs</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href=" /logs/<%= @case_log.id %>">Log</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= subsection_name %></li>
  </ol>
</div>
