<div class="govuk-form-group govuk-form-group--error"
     data-controller="soft-validations"
     data-soft-validations-target="override"
     style='display:none;'>

  <%= f.govuk_check_boxes_fieldset page.soft_validations&.first&.id.to_sym,
      legend: { text: "soft-validations-placeholder-message", size: "l" },
      hint: { text: "soft-validations-placeholder-hint-text" } do %>

      <%= f.govuk_check_box page.soft_validations&.first&.id, page.soft_validations&.first&.id,
        label: { text: "Yes" },
        checked: @case_log[page.soft_validations&.first&.id] == "Yes"
      %>
  <% end %>
</div>
