<div class="govuk-form-group govuk-form-group--error"
     data-controller="soft-validations"
     data-soft-validations-target="override"
     style='display:none;'>

  <%= f.govuk_check_boxes_fieldset page_info["soft_validations"]&.keys&.first,
      legend: { text: "soft-validations-placeholder-message", size: "l" },
      hint: { text: "soft-validations-placeholder-hint-text" } do %>

      <%= f.govuk_check_box page_info["soft_validations"]&.keys&.first, page_info["soft_validations"]&.keys&.first,
        label: { text: "Yes" }
      %>
  <% end %>
</div>
