<h1>Print the form</h1>

<%= form_with do |f| %>
  <% @form.all_subsections.each do |subsection_name, subsection_content| %>
    <p class="print-header"><%= subsection_content["label"] %></p>
    <% large_answers = @form.questions_for_subsection(subsection_name).any? {|key, info| info["type"]== 'checkbox' || info["type"]== 'radio' && info["answer_options"].keys.length > 4} ? "two-grid" : "three-grid" %>
    <div class="<%= large_answers %>">
        <% @form.questions_for_subsection(subsection_name).each_with_index do |question, index| %>
          <div class="grid-row">
            <%= render partial: "form/print/#{question[1]["print_type"] || question[1]["type"]}_question", locals: { question_key: question[0].to_sym, question: question[1], index: index, f: f } %>
          </div>
      <% end %>
    </div>
  <% end %>
<% end %>
