<div class="app-data-box__pair">
  <div class="app-data-box__upper">
    <div class="app-data-box__count"><%= in_progress_count(@current_user, type) %></div>
    <a><%= govuk_link_to in_progress_subheading(@current_user, type), in_progress_path(type), class: "govuk-link--no-visited-state" %></a>
  </div>
  <div class="app-data-box__lower">
    <%= govuk_link_to "View all #{type}", clear_filter_path_for_type(type), class: "govuk-link--inverse" %>
  </div>
</div>
