<div class="app-data-box-one-half">
  <%= render partial: "home/data_box", object: top_left_data_box %>
  <%= render partial: "home/data_box", object: bottom_left_data_box %>
</div>
<div class="app-data-box-one-half">
  <%= render partial: "home/data_box", object: top_right_data_box %>
  <%= render partial: "home/data_box", object: bottom_right_data_box %>
</div>
