<div class="app-data-box__upper">
  <%= govuk_link_to data_box[:path], class: "govuk-link--no-visited-state govuk-link--no-underline" do %>
    <span class="app-data-box__count"><%= data_box[:count] %></span><br/><%= data_box[:text] %>
  <% end %>
</div>
