<p class="govuk-body-l"><%= "Welcome back, #{@current_user.name}" %></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "layouts/collection_resources" %>
  </div>
</div>
