<h1 class="govuk-heading-l govuk-!-width-two-thirds">
  Sorry, the service is unavailable
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">You will be able to use the service from 9am on Thursday 16 November 2023.</p>
    <p class="govuk-body">Changes from the page you were on have not been saved. Changes on pages where you have selected 'save and continue' have been saved.</p>
    <p class="govuk-body"><%= govuk_link_to "Contact the helpdesk", "https://dluhcdigital.atlassian.net/servicedesk/customer/portal/6/group/11" %> if you need help.</p>
  </div>
</div>
