<h1 class="govuk-heading-l govuk-!-width-two-thirds">
  Sorry, the service is unavailable
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">You will be able to use the service later from TIME on DAY.</p>
    <p class="govuk-body">We saved your answers.</p>
    <p class="govuk-body"><%= govuk_link_to "Contact the helpdesk", "https://dluhcdigital.atlassian.net/servicedesk/customer/portal/6/group/11" %> if you need assistance in the meantime.</p>
  </div>
</div>