.a,
.govuk-link {
  color: #1d70b8;
  &__link:link {
    color: #003078;
  }
  &__visited {
    color: #4c2c92;
  }
  &__link:focus {
    color: #0b0c0c;
  }
  &__link:hover {
    color: #003078;
  }
}

// turbo-frame {
//   display: block;
//   border: 1px solid blue
// }
