.cell {
  background-color: gainsboro;
}

.grid-row {
  border: 1px solid gray;
}

.two-grid {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;
}

.three-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;
}

.print-header {
  size: 12px;
}

.govuk-body{
  font-size: 10px;
  margin-bottom: 0;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .cell {
    background-color: lightgrey;
  }
}
