.cell {
  background-color: gainsboro;
}

.grid-row {
  border: 1px solid gray;
}

.one-grid {
  display: grid;
  grid-template-columns: auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;
}

.two-grid {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;
}

.four-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;
}

.three-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;
}

.print-form-heading {
  font-size: small;
  margin-bottom: 0;
  margin-top: 5px;
  background-color: #1d70b8;
  color: white;
}

.govuk-body{
  font-size: 10px;
  margin-bottom: 0;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .cell {
    background-color: lightgrey;
  }
  .noprint {display:none;}

  .one-grid {
    page-break-inside: avoid;
  }

  .three-grid {
    page-break-inside: avoid;
  }
}
