.cell {
  background-color: lightgrey;
}

.question_cell {
  grid-column: 1;
}

.grid-row {
  border: 0.5px solid rgba(0, 0, 0, 0.8);
}

.two-grid {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;

}


.three-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 10px;
  grid-auto-columns: 1fr 200px;

}

.print-header {
  size: 12px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .cell {
    background-color: lightgrey;
  }

}
