<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">There are no more logs that need updating</h1>
  </div>
</div>

<p class="govuk-body-l">
  You’ve completed all the logs that had errors from your bulk upload.
</p>

<%= govuk_button_link_to "Back to all logs", sales_logs_path, button: true %>
