<% content_for :before_content do %>
  <%= govuk_back_link href: @form.back_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Upload lettings logs in bulk (<%= @bulk_upload.year_combo %>)</span>
    <h1 class="govuk-heading-l">You need to fix logs from your bulk upload</h1>

    <p class="govuk-body">You have chosen to create logs from your recent bulk upload.  To view and complete these logs, return to the list of lettings logs.</p>

    <%= govuk_button_link_to "Return to lettings logs", lettings_logs_path %>
  </div>
</div>
