<% content_for :before_content do %>
  <%= govuk_back_link href: @form.back_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Upload lettings logs in bulk (<%= @bulk_upload.year_combo %>)</span>
    <h1 class="govuk-heading-l">These logs are complete</h1>

    <p class="govuk-body">You have created logs from your bulk upload, and the logs are complete. Return to lettings logs to view them.</p>

    <%= govuk_button_link_to "Return to lettings logs", lettings_logs_path %>
  </div>
</div>
