<p>Hello <%= @resource.name %>!</p>

<p>An account has been created for you to submit CORE data on behalf of @resource.organisation.</p>

<p>Your username is <% @resource.email %>, use the link below to set your password.
<p><%= govuk_link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
