<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Bulk upload for lettings (<%= @bulk_upload.year_combo %>)</span>
    <h1 class="govuk-heading-l">Correct data export and reupload</h1>

    <p class="govuk-body-l">
      We noticed that you have a lot of similar errors for some questions. You can download the specification which we reference below to understand how to correct the data. Once you have fixed these errors you can upload again.
    </p>
  </div>
</div>

<%= govuk_table do |table| %>
  <% table.caption(size: "m", text: @bulk_upload.filename) %>

  <% table.head do |head| %>
    <% head.row do |row| %>
      <% row.cell(text: "Column", header: true) %>
      <% row.cell(text: "Number of rows", header: true) %>
      <% row.cell(text: "Question", header: true) %>
      <% row.cell(text: "Error", header: true) %>
      <% row.cell(text: "Specification", header: true) %>
    <% end %>
  <% end %>

  <% table.body do |body| %>
    <% body.row do |row| %>
      <% row.cell(text: "Bulbasaur") %>
      <% row.cell(text: "Bulbasaur") %>
      <% row.cell(text: "Bulbasaur") %>
      <% row.cell(text: "Bulbasaur") %>
      <% row.cell(text: "Bulbasaur") %>
    <% end %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      You also have other errors in your file which you can either fix them in the CSV file or you can reupload and fix on CORE. <%= govuk_link_to "View the full report", bulk_upload_lettings_result_path(@bulk_upload) %>
    </p>
  </div>
</div>

<%= govuk_button_link_to "Upload your file again", start_bulk_upload_lettings_logs_path %>
