<div class="cell govuk-body">
  <strong class="cell question_cell">
    <%= question["header"].html_safe.present? ?  question["header"].html_safe : "missing question header"%>
  </strong>
</div>
<div class="cell_answer">
  <br/>
</div>
