<% title = @location.name %>
<% content_for :title, title %>

<% content_for :before_content do %>
  <%= govuk_back_link(
    text: "Back",
    href: send("locations_path", @scheme),
  ) %>
<% end %>

<%= render partial: "organisations/headings", locals: { main: @location.postcode, sub: @location.name  } %>

<h2 class="govuk-visually-hidden">Location</h2>

<%= govuk_summary_list do |summary_list| %>

  <% @location.display_attributes.each do |attr| %>
    <%= summary_list.row do |row| %>
      <% row.key { attr[:name] } %>
      <% row.value { details_html(attr) } %>
      <% row.action(text: "Change", href: location_edit_name_path(location_id: @location.id, id: @scheme.id)) if attr[:edit] %>
    <% end %>
  <% end %>
<% end %>