<div class="app-card">
  <h2 class="govuk-heading-s">2022/23 collection resources</h2>

  <%= render DocumentListComponent.new(items: [{
    name: "Lettings log for tenants",
    href: "https://core.communities.gov.uk/public/download/guides-and-manuals/2022-23%20Lettings%20paper%20form.pdf?download-format=pdf",
    metadata: "PDF, 654 KB, 4 pages"
  }]) %>
</div>
