<div class="app-card">
  <p class="govuk-body-l govuk-!-margin-bottom-3">Collection resources</p>
  <p class="govuk-body govuk-!-margin-bottom-6">For lettings starting during 1 April 2023 - 31 March 2024 and sales completing during the same period, use the 23/24 forms.</p>

  <h2 class="govuk-body-l govuk-!-margin-bottom-3">Lettings 23/24</h2>
  <%= render DocumentListComponent.new(items: [
    {
      name: "Lettings log for tenants (2023/24)",
      href: "https://core.communities.gov.uk/public/download/guides-and-manuals/2023-24%20Lettings%20paper%20form.pdf?download-format=pdf",
      metadata: "PDF, 281 KB, 8 pages",
    },
  ]) %>

  <h2 class="govuk-body-l govuk-!-margin-bottom-3">Lettings 22/23</h2>
  <%= render DocumentListComponent.new(items: [
    {
      name: "Lettings log for tenants (2022/23)",
      href: "https://core.communities.gov.uk/public/download/guides-and-manuals/2022-23%20Lettings%20paper%20form.pdf?download-format=pdf",
      metadata: "PDF, 654 KB, 4 pages",
    },
  ]) %>
</div>
