<div class="app-card">
  <p class="govuk-body-l govuk-!-margin-bottom-3">Collection resources</p>
  <p class="govuk-body govuk-!-margin-bottom-6">For lettings starting during 1 April 2023 - 31 March 2024 and sales completing during the same period, use the 23/24 forms.</p>

  <h2 class="govuk-body-l govuk-!-margin-bottom-3">Lettings 23/24</h2>
  <%= render DocumentListComponent.new(items: [
    {
      name: "Lettings log for tenants (2023/24)",
      href: download_23_24_lettings_form_path,
      metadata: "PDF, 278 KB, 8 pages",
    },
    {
      name: "Lettings bulk upload template (2023/24) *new question ordering*",
      href: download_23_24_lettings_bulk_upload_template_path,
      metadata: "Microsoft Excel, 15 KB",
    },
    {
      name: "Lettings bulk upload template (2023/24)",
      href: download_23_24_lettings_bulk_upload_legacy_template_path,
      metadata: "Microsoft Excel, 15 KB",
    },
    {
      name: "Lettings bulk upload specification (2023/24)",
      href: download_23_24_lettings_bulk_upload_specification_path,
      metadata: "Microsoft Excel, 90 KB",
    },
  ]) %>

  <h2 class="govuk-body-l govuk-!-margin-bottom-3">Lettings 22/23</h2>
  <%= render DocumentListComponent.new(items: [
    {
      name: "Lettings log for tenants (2022/23)",
      href: "https://core.communities.gov.uk/public/download/guides-and-manuals/2022-23%20Lettings%20paper%20form.pdf?download-format=pdf",
      metadata: "PDF, 654 KB, 4 pages",
    },
    {
      name: "Lettings bulk upload template (2022/23)",
      href: download_22_23_lettings_bulk_upload_template_path,
      metadata: "Microsoft Excel, 36 KB",
    },
    {
      name: "Lettings bulk upload specification (2022/23)",
      href: download_22_23_lettings_bulk_upload_specification_path,
      metadata: "Microsoft Excel, 53 KB",
    },
  ]) %>

  <h2 class="govuk-body-l govuk-!-margin-bottom-3">Sales 23/24</h2>
  <%= render DocumentListComponent.new(items: [
    {
      name: "Sales log for buyers (2023/24)",
      href: download_23_24_sales_form_path,
      metadata: "PDF, 421 KB, 8 pages",
    },
  ]) %>

  <h2 class="govuk-body-l govuk-!-margin-bottom-3">Sales 22/23</h2>
  <%= render DocumentListComponent.new(items: [
    {
      name: "Sales log for buyers (2022/23)",
      href: download_22_23_sales_form_path,
      metadata: "PDF, 397 KB, 5 pages",
    },
  ]) %>
</div>
