<div class="govuk-width-container">
  <div class="gem-c-feedback">
    <div class="gem-c-feedback__prompt">
      <div class="gem-c-feedback__prompt-content">
        <div class="gem-c-feedback__prompt-questions">
          <div class="gem-c-feedback__prompt-question-answer">
            <div class="gem-c-feedback__prompt-question">
              <strong>Make this service work for you by telling us what you think</strong>
            </div>
          </div>
        </div>
        <div class="gem-c-feedback__prompt-questions">
          <a class="govuk-button gem-c-feedback__prompt-link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqC4YDsCJ3llAvEZelBFBLUBURFVUTzFDTUJPQlM4M0laTE5DTlNFSjJBQi4u">
            Give feedback (opens in a new tab)
          </a>
        </div>
      </div>
    </div>
  </div>
</div>