<%= govuk_footer do |footer| %>
  <%= footer.meta do %>
    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      <h2 class="govuk-heading-m">Get help with this service</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Online helpdesk</h3>
      <p class="govuk-body govuk-!-font-size-16">
        <a class="govuk-link govuk-footer__link" href="https://digital.dclg.gov.uk/jira/servicedesk/customer/portal/4/group/21" rel="noreferrer noopener" target="_blank">CORE helpdesk (opens in a new tab)</a></p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone</h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>Telephone: 0333 202 5084</li>
        <li>Monday to Friday, 9am to 5:30pm (except public holidays)</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
      <ul class="govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-0">
        <li>
          <%= govuk_mail_to("submitcoredata@levellingup.gov.uk", class: "govuk-footer__link") %>
        </li>
        <li class="govuk-!-margin-bottom-0">We aim to respond within 2 working days</li>
      </ul>

      <h2 class="govuk-visually-hidden">Helpful links</h2>
      <ul class="govuk-footer__inline-list govuk-!-margin-top-6 govuk-!-margin-bottom-0">
        <li class="govuk-footer__inline-list-item">
          <%= govuk_link_to("Privacy notice", privacy_notice_path, class: "govuk-footer__link") %>
        </li>
      </ul>
    </div>
    <div class="govuk-footer__meta-item">
      <a class="govuk-footer__link govuk-footer__copyright-logo govuk-!-margin-bottom-1" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
    </div>
  <% end %>
<% end %>
