<% content_for :content do %>
  <h1 class="govuk-heading-l">
    Your organisation
  </h1>

  <% items = tab_items(current_user) %>

  <%= render TabNavigationComponent.new(items:) %>

  <h2 class="govuk-visually-hidden"><%= content_for(:tab_title) %></h2>

  <%= content_for?(:organisations_content) ? yield(:organisations_content) : yield %>
<% end %>

<%= render template: "layouts/application" %>
